{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
